body{
    height: 30vh;
    background: rgb(20, 9, 233);
    background: linear-gradient(90deg,rgba(0,212,255,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

body::-webkit-scrollbar{
    width: 1%;
}

.cards {
    display: flex;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card img {
    max-width: 100%;
    height: 40%;
}

.card h4 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    font-size: 1.6rem;
}

.card p {
    font-family: 'Lato', sans-serif;
    width: 75%;
    text-align: center;
}

.card button {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2rem;
    background-color: #b81717;
    padding: .75rem 1rem;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
    }
    .card img {
        max-width: 100%;
        height: 40%;
    }
}