
/*===== Header =====*/
.perfil {
  margin-left: 40%;
}

.perfil > img {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 50%;
}

.title {
  margin-left: 1rem;
}

.title h1 {
  font-weight: bolder;
  font-size: 1.8rem;
}
/*===== Projetos =====*/

.container-projetos {
  padding: 1.1rem ;
  margin-top: 25%;
  width: 100%;
  height: 30rem;
  margin-left: -53%;
  gap: 55%;
}

.container-projetos h4 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.container-projetos ol {
  margin-left: 1rem;
  gap: 55%;
}

.container-projetos li {
  font-size: 0.9rem;
}

.container-projetos a {
  text-decoration: none;
  font-size: 0.9rem;
}


