body,
html {
  width: 100%;
  height: 100%;
}

body {
  background: radial-gradient(circle, rgb(10 60 202) 0%, #042e52 100%);
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
